
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Text Generation Page</title>
 

<style>
h1 {text-align: center; color:#00ff88;}
p {text-align: center;}
div {text-align: center;}
body {
  background-image: url('https://previews.123rf.com/images/photostok/photostok1202/photostok120200014/12290891-old-paper-background-with-space-for-text.jpg');
}
</style>
</head>

<body>
 <div>
	<h1>
  <p style="background;color:black;">TEXT SUMMARIZATION
</h1>

<p>

The technique, where a computer program shortens longer texts and generates summaries to pass the intended message, is defined as Automatic Text Summarization and is a common problem in machine learning and natural language processing (NLP).

Text summarization is the process of creating a short, coherent, and fluent summary of a longer text document and involves the outlining of the text’s major points.

Text identification, interpretation and summary generation, and analysis of the generated summary are some of the key challenges faced in the process of text summarization. The critical tasks in extraction-based summarization are identifying key phrases in the document and using them to discover relevant information to be included in the summary

</p>

<form class="login" action="{{ url_for('predicts')}}">

  <button>Predict</button>
</form>


  
   

 </div>


</body>
</html>

